html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "MuseoSans-500", Helvetica, sans-serif;
    text-align: center;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

h1 {
    font-weight: 300;
    font-size: 4.1rem;
    line-height: 1;
    text-transform: uppercase;
    color: #292929;
    margin: 0;
}


/* ADAPT H1 SIZE TO SCREENS */

@media (min-width: 320px) {
    h1 {
        font-size: 2.2rem;
        line-height: 1.4em;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.2rem;
        line-height: 1.2em;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.3rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4.1rem;
    }
}

h2 {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 1;
    color: #d70f64;
    margin-top: 2em;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}


/* ADAPT H2 SIZE TO SCREENS */

@media (min-width: 320px) {
    h2 {
        font-size: 1.3em;
        line-height: 1.2em;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.9em;
        line-height: 1em;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 1.9em;
        line-height: 1em;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2.2em;
    }
}


/* //////////////////////////////////////////////// FIRST PART : HEADER //////////////////////////////////////////////// */

.first-part {
    height: 100vh;
    background: url(../images/header_background.jpg) no-repeat center center;
    background-size: cover;
}


/* //////////////////////////////////////// HEADER //////////////////////////////////////// */

header {
    padding-top: 2em;
}

span.glyphicon-shopping-cart, .navbar-header a {
    font-size: 2em;
}

span.glyphicon-user {
    font-size: 2.23rem;
}

.navbar-header a i {
    font: italic 400 1.2em "MuseoSans", Helvetica, sans-serif;
}


/* WHITE LOGO, PICTO and TEXT NAV */

#custom-nav a, span {
    color: white;
}


/* NO HOVER ON NAV */

#custom-nav a:hover {
    background-color: transparent;
}

#custom-nav button:hover {
    color: white;
}


/* MENU TO THE RIGHT */

#nav-collect {
    float: right;
}


/* USER ICON TO THE LEFT ON SMALL SCREEN */

#glyphicon-user {
    float: left;
}


/* ADAPT NAVBAR */

@media screen and (min-width: 320px) {
    /* SHORTER SCROLLING NAV */
    .navbar {
        padding: 10px 0;
    }
    .top-nav-collapse {
        padding: 0;
    }
    /* TRANSPARENT BACKGROUND TO WHITE */
    #custom-nav {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
    }
    #custom-nav.affix {
        top: 0;
        min-width: 100%;
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 0.1px solid lightgrey;
        opacity: 1;
    }
    /* TEXT COLOR PINK */
    #custom-nav.affix .container .navbar-header.page-scroll a, #custom-nav.affix .container .navbar-header.page-scroll span, #custom-nav.affix .container #nav-collect .nav.navbar-nav a, #custom-nav.affix .container #nav-collect span {
        color: #d70f64;
    }
    /* TEXT HOVER BUTTON NONE */
    #custom-nav.affix button:hover {
        color: #d70f64;
    }
    /* REDUCE BRAND SIZE */
    #custom-nav.affix .container .navbar-header.page-scroll #brand i {
        font-size: 1em;
    }
    #custom-nav.affix .container .navbar-header.page-scroll #brand span {
        font-size: 2.23rem;
    }
    /* REDUCE SIZE OF CART WHEN SCROLLING */
    #custom-nav.affix .container .navbar-header.page-scroll #glyphicon-cart span {
        font-size: 2.23rem;
    }
}


/* REDUCE BRAND SIZE + CENTER ON SMALL SCREEN */

@media (min-width: 320px) {
    #brand {
        margin: 0 5%;
    }
    #custom-nav .container .navbar-header.page-scroll #brand i {
        font-size: 1em;
    }
    #custom-nav .container .navbar-header.page-scroll #brand span {
        font-size: 2.23rem;
    }
}

@media (min-width: 992px) {
    #brand {
        margin: 0;
    }
    #custom-nav .container .navbar-header.page-scroll #brand i {
        font-size: 1.2em;
    }
    #custom-nav .container .navbar-header.page-scroll #brand span {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    #custom-nav .container .navbar-header.page-scroll #brand i {
        font-size: 1.2em;
    }
    #custom-nav .container .navbar-header.page-scroll #brand span {
        font-size: 1em;
    }
}


/* //////////////////// LOGGED BUTTON //////////////////// */

.btn.sharp {
    border-radius: 0;
    background: none;
    border: 1px solid white;
}


/* //////////////////// ENGLISH BUTTON //////////////////// */

.btn.sharp.english {
    border: none;
}


/* //////////////////////////////////////// HOME TEASER //////////////////////////////////////// */

.home_teaser_slogan {
    width: 80%;
    margin: auto;
    color: white;
    padding-bottom: 5em;
    padding-top: 10em;
}

.home_teaser_slogan h1 {
    color: white;
    font-size: 1.8rem;
}


/* FIRST PART H1 RESPONSIVE */

@media (min-width: 320px) {
    .home_teaser_slogan h1 {
        font-size: 1.8rem;
        margin-top: -3.5em;
        line-height: 1.4em;
    }
}

@media (min-width: 768px) {
    .home_teaser_slogan h1 {
        font-size: 3.2rem;
        margin-top: -1.4em;
        line-height: 1.2em;
    }
}

@media (min-width: 992px) {
    .home_teaser_slogan h1 {
        font-size: 3.3rem;
        margin-top: -1.6em;
    }
}

@media (min-width: 1200px) {
    .home_teaser_slogan h1 {
        font-size: 4.1rem;
        margin-top: 1.4em;
    }
}


/* //////////////////////////////////////// FORM //////////////////////////////////////// */

#lgFormInputGroup {
    height: 3em;
    font-size: 1em;
    font-weight: 300;
}

.btn.pink {
    background: #d70f64;
    border: 0;
    font-size: 0.9em;
}

.button-text-separator {
    padding: 0.7em 0.4em;
    font-size: 1em;
}

.btn.pink, .button-text-separator {
    height: 3.2em;
    font-weight: 300;
}


/* //////////////////////////////////////// APP LOGOS //////////////////////////////////////// */


/* ALIGN BOTTOM CENTER */

.app-logo_wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.app-logo_wrapper img {
    max-height: 4em;
    margin-right: 0.4em;
    margin-left: 0.4em;
    margin-bottom: 1.4em;
}


/* //////////////////////////////////////////////// SECOND PART : BEST ADDRESSES //////////////////////////////////////////////// */


/* //////////////////////////////////////////////// THIRD PART : TOWNS //////////////////////////////////////////////// */

.container {
    margin-right: auto;
    margin-left: auto;
}

.livraison_text {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.fotoville {
    margin-left: 16%;
}

.photo1, .photo3, .photo5 {
    height: 13vw;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100%;
    -webkit-transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform-origin: 100%;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.photo2, .photo4 {
    height: 13vw;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100%;
    -webkit-transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform-origin: 100%;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.container1:hover .photo1 {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.container2:hover .photo2 {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.container3:hover .photo3 {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.container4:hover .photo4 {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.container5:hover .photo5 {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.front, .back {
    height: 13vw;
    position: absolute;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


/* //////////////////////////////////////////////// FOURTH PART : PHONES //////////////////////////////////////////////// */


/* SECTION 4- */

.section4, .section6 {
    padding-top: 20px;
}

.emportez_text {
    color: #d70f64;
}

.logomobile {
    font: italic bold 2.7rem "MuseoSans", Helvetica, sans-serif;
    color: #c8c8c8;
    height: 100%;
    display: block;
    text-align: left;
}

.glyphicon.glyphicon-ice-lolly-tasted.black {
    color: #c8c8c8;
}

.logomobile img {
    width: 140px;
    height: auto;
    margin: auto;
}

.applelogo {
    padding-top: 70%;
}

.andrologo {
    padding-top: 20px;
}


/* //////////////////////////////////////////////// FIFTH PART : ENTERPRISE //////////////////////////////////////////////// */

.enterprise {
    height: 100vh;
    background: url(../images/corporate-banner.png) no-repeat center bottom;
    background-size: cover;
}


/* RESPONSIVE TEXT */

@media(min-width: 320px) {
    .enterprise_text {
        max-width: 60%;
        margin: auto;
        padding-top: 5%;
    }
}

@media(min-width: 1200px) {
    .enterprise_text {
        max-width: 50%;
        margin: auto;
        padding-top: 5%;
    }
}

.enterprise_text p {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.7em;
    margin-top: 1em;
}


/* BUTTON "COMMENCEZ" */

.btn.pink.commencez.btn-primary.btn-lg.text-uppercase {
    padding: 0 20%;
}


/* //////////////////////////////////////////////// SIXTH PART : FOOTER //////////////////////////////////////////////// */


/* SECTION6-FOOTER */

.section6 a {
    text-decoration: none;
    color: inherit;
}

.section6 a:hover {
    color: #d70f64;
}

.newsletter b {
    display: block;
    text-transform: uppercase;
}

.ligne {
    border-top: 1px solid #ccc;
}

.boutonnage {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #d70f64;
}

.footer_social {
    display: block;
    text-align: right;
}

.footerxxtop, .footerxtop, .footertop, .footermiddle, .footerbottom {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.footertop {
    line-height: normal;
}

.liens {
    text-align: right;
}

.footerbottom p {
    text-align: justify;
    color: grey;
    font-size: 1.4rem;
}

.footerbottom h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
}

.othercountries {
    float: left;
    width: 100%;
    height: auto;
}

.othercountries p {
    text-align: center;
}

.othercountries a {
    color: #666;
    cursor: pointer;
}
